<div class="row ddrow" style="padding:4px;">
	<div class="col-md-8">
		<div class="input-group">
			<div class="input-group-btn">

				{{bs-select dd="ddLeft" 
							ddId='filter'
							ddLabel="Select a filter..."
							ddData=queryRules
							action='selectedAnItem'
				}}
				<span class="dropdown ddMid">
					{{#bs-dropdown}}
						{{#bs-dropdown-button}}&nbsp;&nbsp;&nbsp; <span class="caret"></span>
						{{/bs-dropdown-button}}
						{{#bs-dropdown-menu}}
							<li>{{#link-to "index"}}Something{{/link-to}}</li>
							<li>{{#link-to "index"}}Other{{/link-to}}</li>
						{{/bs-dropdown-menu}}
					{{/bs-dropdown}}
				</span>
				{{bs-select dd="ddRight" 
							ddId='value'
							ddLabel="Select a value..."
							ddData=currentValues
							action='selectedAnItem'
				}}

			</div>
		</div>
	</div>
	<div class="col-md-4 text-right pull-right">
		<a id="addLiner" class="btn btn-primary btn-xs oneLinerButton">+</a>
	</div>
</div>

{{selectedFilterA.name}} and {{selectedValue}}
