[submodule "library/honeyguide/vendor/settings-api"]
	path = library/honeyguide/vendor/settings-api
	url = https://github.com/tareq1988/wordpress-settings-api-class.git
[submodule "library/honeyguide/vendor/mustache-php"]
	path = library/honeyguide/vendor/mustache-php
	url = https://github.com/bobthecow/mustache.php.git
[submodule "library/honeyguide/vendor/mustache-cache"]
	path = library/honeyguide/vendor/mustache-cache
	url = https://github.com/khromov/mustache-wordpress-cache.git
[submodule "library/honeyguide/vendor/customizer-custom-controls"]
	path = library/honeyguide/vendor/customizer-custom-controls
	url = https://github.com/bueltge/WordPress-Theme-Customizer-Custom-Controls.git
[submodule "library/honeyguide/stacks/js/vendor/x-editable"]
	path = library/honeyguide/stacks/js/vendor/x-editable
	url = https://github.com/vitalets/x-editable.git
[submodule "zero"]
	path = zero
	url = git@bitbucket.org:Honey_Guide/beeswax-design.git
