<h2>results for posts/by_type:</h2>

<section id="main">
  <h4>here we go...</h4>

{{log 'model is:' model}}
{{log 'stacks is:' stacks}}

	{{#each stacks as |item|}}
		{{item.slug}}<br>
	{{/each}}

</section>
