<h2>Latest Posts</h2>

{{#bs-button type="primary" icon="glyphicon glyphicon-download"}}
   Downloads
{{/bs-button}}

<section id="query">
  {{#each query in model}}
    {{one-liner model=query}}
  {{/each}}
</section>

<section id="main">
  {{#each post in model}}
    {{single-post model=post}}
  {{/each}}
</section>
