<h2>results</h2>

<section id="query">
  {{#each query in model}}
    {{one-liner model=query queryRules=App.QueryRules}}
  {{/each}}
</section>

<section id="main">
  {{#each post in model}}
    {{single-post model=post}}
  {{/each}}
</section>
